@charset "UTF-8";
@font-face {
  body {
    font-family: bold;
    src: url("../fonts/nova1/VL-ProximaNova-Bold.ttf") format(‘truetype’), url("../fonts/nova1/VL-ProximaNova-Bold.svg") format(’embedded-opentype’), url("../fonts/nova1/VL-ProximaNova-Bold.woff") format(‘woff’), url("../fonts/nova1/VL-ProximaNova-Bold.woff2") format(‘woff2’); } }

@font-face {
  body {
    font-family: thin;
    src: url("../fonts/nova2/VL-ProximaNova-Thin.ttf") format(‘truetype’), url("../fonts/nova2/VL-ProximaNovaT-Thin.svg") format(’embedded-opentype’), url("../fonts/nova2/VL-ProximaNovaT-Thin.woff") format(‘woff’), url("../fonts/nova2/VL-ProximaNovaT-Thin.woff2") format(‘woff2’); } }

@font-face {
  body {
    font-family: regular;
    src: url("../fonts/nova3/ProximaNovaCond-Regular.ttf") format(‘truetype’), url("../fonts/nova3/ProximaNovaCond-Regular.svg") format(’embedded-opentype’), url("../fonts/nova3/ProximaNovaCond-Regular.woff") format(‘woff’), url("../fonts/nova3/VNF-ProximaNovaCond-Regular.woff2") format(‘woff2’); } }

body .cb {
  clear: both; }

body #header .top {
  background: #24272b; }
  body #header .top a {
    padding-right: 30px;
    padding-left: 10px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none; }
  body #header .top .left {
    text-align: left;
    position: relative; }
    body #header .top .left img {
      max-width: 150px; }
    body #header .top .left .at {
      background: url("../Icon/livechat.png") no-repeat;
      background-size: cover;
      width: 150px;
      display: inline-block;
      height: 36px; }
      body #header .top .left .at img {
        display: none;
        height: 40px; }
      body #header .top .left .at:hover > img {
        display: block; }
    body #header .top .left .phone {
      display: inline-block;
      position: absolute;
      margin-top: 5px; }
  body #header .top .right {
    position: relative;
    text-align: right; }
    body #header .top .right:hover > a {
      border: none; }
    body #header .top .right img {
      max-height: 41px; }
    body #header .top .right .account {
      display: inline-block;
      margin-top: 5px;
      position: relative; }
      body #header .top .right .account .subac {
        display: none;
        position: absolute;
        background: #fff;
        list-style-type: none;
        -webkit-padding-start: 0px;
        z-index: 999;
        top: -11px;
        width: 130px;
        border: 2px solid;
        border-top: none;
        left: -10px;
        box-shadow: 0 6px 8px 0 rgba(69, 69, 69, 0.57); }
        body #header .top .right .account .subac li {
          border-bottom: 1px solid #f3ebeb;
          line-height: 40px;
          text-align: center; }
          body #header .top .right .account .subac li a {
            color: #333;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px; }
      body #header .top .right .account:hover > .subac {
        display: block; }
    body #header .top .right .bag {
      display: inline-block;
      padding: 0; }
      body #header .top .right .bag .mybag {
        margin-left: -16px;
        padding-bottom: 13px;
        padding-top: 16px; }
        body #header .top .right .bag .mybag i {
          font-size: 30px;
          margin-left: 10px; }
      body #header .top .right .bag:hover > .mybag {
        background: #fff;
        color: #333; }
      body #header .top .right .bag:hover > .content {
        right: 0;
        display: block !important; }
    body #header .top .right .content {
      display: none;
      position: absolute;
      width: 300px;
      background: #fff;
      margin-top: 10px;
      border: 2px solid;
      height: 30px;
      border-top: none;
      margin-right: 13px;
      text-align: center;
      box-shadow: 0 6px 8px 0 rgba(69, 69, 69, 0.57); }
      body #header .top .right .content a {
        color: #333;
        font-weight: normal; }

body #header .mid {
  padding-top: 20px; }
  body #header .mid .left {
    padding-top: 50px; }
    body #header .mid .left a {
      color: #D80D0D;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase; }
  body #header .mid .center img {
    max-width: 300px; }
  body #header .mid .right {
    text-align: right;
    padding-top: 30px;
    padding-right: 60px; }
    body #header .mid .right input {
      padding: 10px 30px 10px 5px;
      border: 1px solid #808080; }
    body #header .mid .right ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-style: italic; }
    body #header .mid .right img {
      max-width: 57px;
      position: absolute; }

body #header .bottom {
  padding-top: 20px; }
  body #header .bottom .wrp {
    width: 100%; }
    body #header .bottom .wrp ul {
      -webkit-padding-start: 0px; }
    body #header .bottom .wrp li {
      overflow: hidden;
      height: 30px;
      display: inline-block;
      list-style: none;
      padding: 13px 36px 30px 26px;
      transition: 0.5s; }
      body #header .bottom .wrp li:first-child {
        padding-left: 15px; }
      body #header .bottom .wrp li:last-child {
        padding-left: 0;
        padding-right: 0;
        text-align: right; }
        body #header .bottom .wrp li:last-child a {
          color: #D80D0D; }
      body #header .bottom .wrp li a {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase; }
      body #header .bottom .wrp li .submenu {
        display: none;
        position: absolute;
        background: #fff;
        z-index: 9999;
        transition: 0.5s; }
        body #header .bottom .wrp li .submenu .item {
          padding-top: 20px; }
          body #header .bottom .wrp li .submenu .item img {
            width: 100%; }
      body #header .bottom .wrp li .no1 {
        padding-top: 30px;
        background: #f5f5f5;
        left: 0;
        width: 100%;
        text-align: left; }
        body #header .bottom .wrp li .no1 .left {
          float: left; }
          body #header .bottom .wrp li .no1 .left ul {
            float: left;
            margin-left: 120px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            width: 300px;
            display: inline-block;
            background: rgba(0, 0, 0, 0.8);
            padding-bottom: 20px; }
            body #header .bottom .wrp li .no1 .left ul li {
              padding: 8px;
              width: 14%;
              float: left;
              margin-top: 20px; }
              body #header .bottom .wrp li .no1 .left ul li a {
                font-size: 14px;
                color: #fff;
                padding: 10px; }
              body #header .bottom .wrp li .no1 .left ul li .active {
                background: #f5f5f5;
                color: #333; }
              body #header .bottom .wrp li .no1 .left ul li:last-child a {
                text-transform: none; }
          body #header .bottom .wrp li .no1 .left .list {
            display: block;
            margin-left: 20px;
            width: 185px;
            background: none;
            font-size: 14px;
            font-weight: normal;
            line-height: 0px; }
            body #header .bottom .wrp li .no1 .left .list li {
              padding: 8px;
              text-align: left;
              float: left;
              margin-top: 00px;
              width: 100%; }
              body #header .bottom .wrp li .no1 .left .list li a {
                font-size: 14px;
                color: #333;
                padding: 10px;
                display: block;
                text-transform: none;
                font-weight: normal; }
              body #header .bottom .wrp li .no1 .left .list li .active {
                background: #f5f5f5;
                color: #333; }
        body #header .bottom .wrp li .no1 .right {
          width: 175px;
          background: #edeef1;
          float: left;
          margin-top: -30px;
          height: 300px;
          padding-top: 30px; }
          body #header .bottom .wrp li .no1 .right ul li {
            padding: 0; }
            body #header .bottom .wrp li .no1 .right ul li a {
              text-transform: none;
              font-weight: normal; }
            body #header .bottom .wrp li .no1 .right ul li:last-child a {
              color: #333; }
            body #header .bottom .wrp li .no1 .right ul li .active {
              font-weight: bold; }
      body #header .bottom .wrp li .no2 {
        background: #f5f5f5;
        left: 0;
        width: 100%;
        text-align: left;
        left: 0; }
        body #header .bottom .wrp li .no2 .bold {
          background: #666;
          width: 30% !important; }
          body #header .bottom .wrp li .no2 .bold ul {
            width: 50%; }
            body #header .bottom .wrp li .no2 .bold ul li a {
              font-weight: bold; }
        body #header .bottom .wrp li .no2 .bg {
          background: #edeef1;
          height: 100%;
          height: 370px; }
          body #header .bottom .wrp li .no2 .bg ul {
            width: 45%; }
            body #header .bottom .wrp li .no2 .bg ul li a {
              font-weight: bold !important; }
        body #header .bottom .wrp li .no2 .gop .col {
          float: left;
          width: 50%; }
        body #header .bottom .wrp li .no2 .item .title {
          display: block; }
        body #header .bottom .wrp li .no2 .item ul {
          list-style-type: none;
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 10px;
          display: inline-block;
          padding-bottom: 20px;
          display: inline-block; }
          body #header .bottom .wrp li .no2 .item ul li {
            padding: 0;
            display: block; }
            body #header .bottom .wrp li .no2 .item ul li a {
              font-size: 12px;
              color: #333;
              font-weight: normal;
              text-transform: capitalize; }
              body #header .bottom .wrp li .no2 .item ul li a:hover {
                border-bottom: 1px solid; }
            body #header .bottom .wrp li .no2 .item ul li:fist-child {
              text-align: center; }
            body #header .bottom .wrp li .no2 .item ul li:last-child {
              text-align: left; }
        body #header .bottom .wrp li .no2 .item:last-child a {
          font-size: 14px;
          font-weight: normal;
          border-bottom: 1px solid; }
        body #header .bottom .wrp li .no2 .item:last-child img {
          margin-bottom: 20px; }
      body #header .bottom .wrp li .no3 {
        background: #f5f5f5;
        left: 0;
        width: 100%;
        text-align: left;
        left: 0; }
        body #header .bottom .wrp li .no3 .item {
          width: 33%;
          float: left; }
          body #header .bottom .wrp li .no3 .item .title {
            display: block; }
          body #header .bottom .wrp li .no3 .item ul {
            list-style-type: none;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            padding-bottom: 20px;
            display: inline-block; }
            body #header .bottom .wrp li .no3 .item ul li {
              padding: 0;
              display: block; }
              body #header .bottom .wrp li .no3 .item ul li a {
                font-size: 12px;
                color: #333;
                font-weight: normal;
                text-transform: capitalize; }
                body #header .bottom .wrp li .no3 .item ul li a:hover {
                  border-bottom: 1px solid; }
              body #header .bottom .wrp li .no3 .item ul li:fist-child {
                text-align: center; }
              body #header .bottom .wrp li .no3 .item ul li:last-child {
                text-align: left; }
        body #header .bottom .wrp li .no3 .right .item {
          width: 45%;
          float: left;
          margin-right: 25px; }
          body #header .bottom .wrp li .no3 .right .item img {
            width: 100%;
            margin-bottom: 20px; }
          body #header .bottom .wrp li .no3 .right .item a {
            font-weight: normal;
            border-bottom: 1px solid; }
      body #header .bottom .wrp li .no4 {
        background: #f5f5f5;
        left: 0;
        width: 100%;
        text-align: left;
        left: 0;
        padding-bottom: 20px; }
        body #header .bottom .wrp li .no4 .item {
          width: 33%;
          float: left; }
          body #header .bottom .wrp li .no4 .item .title {
            display: block; }
          body #header .bottom .wrp li .no4 .item ul {
            list-style-type: none;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            padding-bottom: 20px;
            display: inline-block; }
            body #header .bottom .wrp li .no4 .item ul li {
              padding: 0;
              display: block; }
              body #header .bottom .wrp li .no4 .item ul li a {
                font-size: 12px;
                color: #333;
                font-weight: normal;
                text-transform: capitalize; }
                body #header .bottom .wrp li .no4 .item ul li a:hover {
                  border-bottom: 1px solid; }
              body #header .bottom .wrp li .no4 .item ul li:fist-child {
                text-align: center; }
              body #header .bottom .wrp li .no4 .item ul li:last-child {
                text-align: left; }
        body #header .bottom .wrp li .no4 .right .item {
          width: 100%; }
          body #header .bottom .wrp li .no4 .right .item img {
            width: 100%;
            margin-bottom: 20px; }
          body #header .bottom .wrp li .no4 .right .item a {
            font-weight: normal;
            border-bottom: 1px solid; }
      body #header .bottom .wrp li .no5 {
        background: #f5f5f5;
        left: 0;
        width: 100%;
        text-align: left;
        left: 0;
        padding-bottom: 20px; }
        body #header .bottom .wrp li .no5 .left .item {
          text-align: center; }
          body #header .bottom .wrp li .no5 .left .item img {
            width: 100%; }
          body #header .bottom .wrp li .no5 .left .item a {
            color: #d6c1c1;
            text-transform: uppercase;
            font-weight: bold; }
          body #header .bottom .wrp li .no5 .left .item .name {
            font-size: 14px;
            color: #333;
            text-transform: capitalize; }
        body #header .bottom .wrp li .no5 .right .item {
          width: 45%;
          float: left;
          margin-right: 25px; }
          body #header .bottom .wrp li .no5 .right .item img {
            margin-bottom: 20px; }
          body #header .bottom .wrp li .no5 .right .item a {
            font-weight: normal;
            border-bottom: 1px solid;
            text-transform: capitalize; }
      body #header .bottom .wrp li:hover .submenu {
        display: block; }

body #header .text .bgr {
  background: #f5f5f5; }
  body #header .text .bgr .item {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 10px; }

body #slide {
  margin-top: 30px;
  position: relative; }
  body #slide .item {
    position: relative; }
    body #slide .item .content {
      position: absolute;
      top: 50px;
      left: 30%;
      background: rgba(44, 78, 123, 0.7);
      padding: 20px;
      text-align: center;
      color: #fff;
      width: 200px; }
  body #slide .slick-prev {
    left: 20px;
    z-index: 999;
    top: 50%; }
  body #slide .slick-prev:before {
    content: "\f104";
    font-size: 30px;
    color: #fff;
    font: normal normal normal 60px/1 FontAwesome; }
  body #slide .slick-next {
    right: 20px;
    z-index: 999;
    top: 50%; }
  body #slide .slick-next:before {
    content: "\f105";
    font-size: 30px;
    color: #fff;
    font: normal normal normal 60px/1 FontAwesome; }
  body #slide .slick-dots {
    width: auto;
    right: 0; }
  body #slide .slick-dots li button:before {
    font-size: 40px;
    color: #fff;
    top: -45px; }
  body #slide .menu {
    position: absolute;
    top: 0px;
    left: 15%;
    background: rgba(43, 47, 50, 0.8); }
    body #slide .menu ul {
      list-style-type: none;
      overflow: hidden;
      padding: 30px; }
      body #slide .menu ul li a {
        color: #c4c5c6;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 25px; }
        body #slide .menu ul li a:hover {
          color: #fff; }
      body #slide .menu ul li:first-child a {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px; }

body #deal .left {
  position: relative; }
  body #deal .left img {
    width: 100%; }
  body #deal .left .content {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 35px;
    top: 0; }
  body #deal .left .click {
    position: absolute;
    bottom: 50px;
    left: 30%; }
    body #deal .left .click a {
      padding: 10px 20px 10px 20px;
      border: 3px solid #fff;
      background: #0d4fd8;
      box-sizing: border-box;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      transition: 0.8s; }
      body #deal .left .click a:hover {
        background: #fff;
        color: #333; }

body #deal .right {
  padding-bottom: 5px;
  background: #f5f5f5; }
  body #deal .right .title {
    color: #333;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bold; }
  body #deal .right .item {
    float: left;
    overflow: hidden;
    width: 33%;
    position: relative; }
    body #deal .right .item:hover > .view {
      bottom: 80px; }
    body #deal .right .item:hover > .compare {
      display: block; }
    body #deal .right .item img {
      width: 75%; }
    body #deal .right .item .compare {
      position: absolute;
      top: 0;
      right: 20%;
      width: 30px;
      opacity: 0.6;
      display: none; }
      body #deal .right .item .compare:hover {
        opacity: 1; }
    body #deal .right .item .view {
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      left: 7%;
      padding: 20px;
      transition: 0.5s;
      overflow: hidden;
      bottom: -130px; }
      body #deal .right .item .view a {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 30px 10px 30px;
        background: #333;
        color: #fff;
        text-decoration: none; }
        body #deal .right .item .view a:hover {
          background: #000000; }
    body #deal .right .item .content {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px; }
      body #deal .right .item .content a {
        font-size: 18px;
        text-decoration: none;
        color: #333; }

body #sale .item {
  margin-top: 15px; }

body #trending {
  margin-top: 30px; }
  body #trending .title {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    text-align: center; }
    body #trending .title .border {
      border-bottom: 2px solid #333;
      width: 100px;
      margin: auto;
      margin-top: 10px; }
  body #trending .item {
    padding-top: 30px;
    padding-bottom: 20px;
    padding: 35px;
    overflow: hidden;
    position: relative; }
    body #trending .item:hover > .view {
      bottom: 35%; }
    body #trending .item img {
      max-width: 200px;
      margin: auto; }
    body #trending .item .view {
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      left: 15%;
      padding: 20px;
      transition: 0.5s;
      overflow: hidden;
      bottom: -130px; }
      body #trending .item .view a {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 30px 10px 30px;
        background: #333;
        color: #fff;
        text-decoration: none; }
        body #trending .item .view a:hover {
          background: #000000; }
    body #trending .item .content {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px; }
      body #trending .item .content a {
        font-size: 18px;
        text-decoration: none;
        color: #333; }
  body #trending .slick-prev {
    left: -30px;
    z-index: 999;
    top: 50%; }
  body #trending .slick-prev:before {
    content: "\f104";
    font-size: 30px;
    color: #d6c1c1;
    font: normal normal normal 60px/1 FontAwesome; }
  body #trending .slick-next {
    right: -30px;
    z-index: 999;
    top: 50%; }
  body #trending .slick-next:before {
    content: "\f105";
    font-size: 30px;
    color: #d6c1c1;
    font: normal normal normal 60px/1 FontAwesome; }

body #weekdeal .title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
  font-weight: bold;
  text-align: center; }
  body #weekdeal .title .border {
    border-bottom: 2px solid #333;
    width: 100px;
    margin: auto;
    margin-top: 10px; }

body #weekdeal .item1 {
  padding-top: 20px; }
  body #weekdeal .item1 img {
    width: 100%; }
  body #weekdeal .item1 .right {
    padding-top: 20px;
    text-align: left; }
    body #weekdeal .item1 .right h3 {
      text-transform: uppercase;
      font-size: 30px; }
    body #weekdeal .item1 .right p {
      font-size: 16px;
      font-family: Georgia;
      color: #333;
      font-style: italic; }
      body #weekdeal .item1 .right p:last-child {
        margin-bottom: 20px; }
    body #weekdeal .item1 .right .border {
      border-bottom: 2px solid #333;
      width: 100px;
      margin-top: 10px; }
    body #weekdeal .item1 .right .up {
      font-family: Arial;
      margin-top: 20px;
      font-style: normal;
      margin-bottom: 20px; }
    body #weekdeal .item1 .right .big {
      font-size: 40px;
      color: red; }
    body #weekdeal .item1 .right .click {
      margin-top: 35px; }
      body #weekdeal .item1 .right .click a {
        padding: 10px 20px 10px 20px;
        border: 1px solid #333;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        color: #333; }

body #weekdeal .item2 {
  padding-top: 30px; }
  body #weekdeal .item2 img {
    width: 100%; }
  body #weekdeal .item2 .left {
    padding-top: 20px;
    text-align: right;
    padding-right: 30px; }
    body #weekdeal .item2 .left h3 {
      text-transform: uppercase;
      font-size: 30px; }
    body #weekdeal .item2 .left p {
      font-size: 16px;
      font-family: Georgia;
      color: #333;
      font-style: italic; }
      body #weekdeal .item2 .left p:last-child {
        margin-bottom: 20px; }
    body #weekdeal .item2 .left .border {
      border-bottom: 2px solid #333;
      width: 100px;
      margin-top: 10px;
      float: right; }
    body #weekdeal .item2 .left .up {
      font-family: Arial;
      margin-top: 20px;
      font-style: normal;
      margin-bottom: 20px; }
    body #weekdeal .item2 .left .big {
      font-size: 40px;
      color: red; }
    body #weekdeal .item2 .left .click {
      margin-top: 35px; }
      body #weekdeal .item2 .left .click a {
        padding: 10px 20px 10px 20px;
        border: 1px solid #333;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        color: #333; }

body #more {
  margin-top: 30px; }
  body #more .right {
    position: relative; }
    body #more .right img {
      width: 100%; }
    body #more .right .content {
      position: absolute;
      display: block;
      text-align: center;
      font-size: 16px;
      color: #fff;
      padding: 35px;
      top: 0; }
    body #more .right .click {
      position: absolute;
      bottom: 50px;
      left: 30%; }
      body #more .right .click a {
        padding: 10px 20px 10px 20px;
        border: 3px solid #fff;
        background: #445679;
        box-sizing: border-box;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        transition: 0.8s; }
        body #more .right .click a:hover {
          background: #fff;
          color: #333; }
  body #more .left {
    padding-bottom: 5px;
    background: #f5f5f5; }
    body #more .left .title {
      color: #333;
      padding-top: 20px;
      padding-bottom: 30px;
      text-align: center;
      font-size: 22px;
      font-weight: bold; }
    body #more .left .item {
      float: left;
      overflow: hidden;
      width: 33%;
      position: relative; }
      body #more .left .item:hover > .view {
        bottom: 80px; }
      body #more .left .item:hover > .compare {
        display: block; }
      body #more .left .item img {
        width: 75%; }
      body #more .left .item .compare {
        position: absolute;
        top: 0;
        right: 20%;
        width: 30px;
        opacity: 0.6;
        display: none; }
        body #more .left .item .compare:hover {
          opacity: 1; }
      body #more .left .item .view {
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        left: 7%;
        padding: 20px;
        transition: 0.5s;
        overflow: hidden;
        bottom: -130px; }
        body #more .left .item .view a {
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 10px 30px 10px 30px;
          background: #333;
          color: #fff;
          text-decoration: none; }
          body #more .left .item .view a:hover {
            background: #000000; }
      body #more .left .item .content {
        width: 100%;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px; }
        body #more .left .item .content a {
          font-size: 18px;
          text-decoration: none;
          color: #333; }

body #signup {
  margin-top: 30px;
  padding-bottom: 40px; }
  body #signup .left {
    font-weight: bold;
    color: #333;
    padding-left: 0; }
  body #signup .center input {
    padding: 5px;
    border: 1px solid #a19292;
    width: 70%; }
  body #signup .center ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic; }
  body #signup .center a {
    padding: 8px;
    background: #666;
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -5px;
    text-decoration: none; }
  body #signup .right {
    text-align: right; }
    body #signup .right a {
      color: #666;
      font-size: 28px;
      text-decoration: none; }
      body #signup .right a:hover {
        color: #2676d8; }
      body #signup .right a i {
        margin-right: 20px; }

body .border {
  border-bottom: 2px solid #333;
  width: 1170px;
  margin: auto; }

body #footer {
  padding-top: 40px;
  padding-bottom: 50px; }
  body #footer .item {
    width: 20%;
    float: left;
    text-transform: capitalize;
    font-size: 12px; }
    body #footer .item .title {
      font-size: 15px;
      color: #333;
      text-transform: uppercase;
      font-weight: bold; }
    body #footer .item ul {
      -webkit-padding-start: 0px;
      list-style-type: none; }
      body #footer .item ul li a {
        color: #666;
        line-height: 27px;
        text-transform: capitalize;
        font-size: 12px; }
    body #footer .item .left {
      width: 30%;
      float: left;
      padding-top: 5px; }
    body #footer .item .right {
      width: 70%;
      padding-right: 10px;
      text-align: justify;
      float: left;
      padding-top: 5px; }
      body #footer .item .right a {
        color: #666;
        border-bottom: 1px solid #666;
        text-decoration: none; }
    body #footer .item .live {
      margin-top: 30px; }
      body #footer .item .live a img {
        max-width: 200px;
        border: 1px solid; }

body #coppyright div {
  margin: auto;
  color: #666;
  text-align: center; }

